.footer-logo {
  width: 2rem;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 5px;
}

.dropdown:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  height: 5px;
  display: block;
}

.hstack a svg {
  fill: #aaaaaa;
  transition: fill 0.3s ease;
}

.hstack a:hover svg {
  fill: #333333;
}

/*For sign in page*/
#myForm.was-validated #rememberMeCheckbox:valid,
#myForm.was-validated #rememberMeCheckbox:invalid {
  background-image: none;
  border-color: var(--bs-border-color);
  box-shadow: none;
}

#myForm.was-validated .form-check-label[for="rememberMeCheckbox"] {
  color: inherit;
}